
.Topic {
    font-size: xx-large;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px; row-gap: 15px;
}
.container {
    height: 300px;
    background-color: rgb(172, 176, 179);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    justify-content: center;  
}
.container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container title{
    background-color: coral;
    color: white;
    border-radius: 2px solid white;
}
.container img:hover {
    /* transform: scale(1.05); */
    transform: scaleX(-1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.container button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
}
.container button:hover {
    background-color: rgb(155, 167, 155);
}
a{
    text-decoration: none;
    color: white;
}
.foodname {
font-size: 18px;
font-weight: bold;
margin-top: 5px;
color:rgb(0, 0, 0);
text-transform: uppercase;
text-align: center;
}
.back1{
    height: 35px;
    text-align: center;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: black;
}
.back1 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: royalblue;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 5px solid brown;
}
.back1 a:hover{
    transform: scale(1.1);
    transition: all 2s;
    color: red;
}
.header {
     margin: 0;
    display: flex;
    column-gap: 55%;
    align-items: center;
    height: 50px;
    background: radial-gradient(circle, #dce2e8ce, #96dfee);
   border-radius: 5px;
}
.header a{
    margin-left:20px;
}
.header img {
    height: 49px;
    border-radius: 100%;
}
.header a {
    text-decoration: none;
    color: #040303;
    font-size: 16px;
    font-weight: bold;
}
.header a:hover {
    color: antiquewhite;
    opacity: 0.8;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #333;
    color: #fff;
    justify-content: space-evenly;
}
.footer a {
    text-decoration: none;
    color: #eca62c;
}
.footer a:hover {
    text-decoration: underline;
}